
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a class="nav-link text-dark" asp-controller="Action" asp-action="Ok">Ok</a>
<a class="nav-link text-dark" asp-controller="Action" asp-action="NotFound">NotFound</a>
<a class="nav-link text-dark" asp-controller="Action" asp-action="BadRequest">BadRequest</a>
<a class="nav-link text-dark" asp-controller="Action" asp-action="Unanuthorized">Unanuthorized</a>
<a class="nav-link text-dark" asp-controller="Action" asp-action="Forbid">Forbid</a>
<a class="nav-link text-dark" asp-controller="Action" asp-action="Accepted">Accepted</a>
<a class="nav-link text-dark" asp-controller="Action" asp-action="Created">Created</a>
<a class="nav-link text-dark" asp-controller="Action" asp-action="NoContentResult">NoContentResult</a>
<a class="nav-link text-dark" asp-controller="Action" asp-action="JsonResult">JsonResult</a>
<a class="nav-link text-dark" asp-controller="Action" asp-action="ObjectResult">ObjectResult</a>
<a class="nav-link text-dark" asp-controller="Action" asp-action="StatusCodeResult">StatusCodeResult</a>
<a class="nav-link text-dark" asp-controller="Action" asp-action="RedirectResult">RedirectResult</a>
<a class="nav-link text-dark" asp-controller="Action" asp-action="RedirectToAction">RedirectToAction</a>